<h1 class="container border border-2">Root Page</h1>
<div class="container">
    <h3  class="mt-5">Navbar</h3>
    <app-navbar></app-navbar>
    <hr>
    <h3 class="mt-5">Date Picker</h3>
    <app-date-picker></app-date-picker>
    <hr>
    <h3  class="mt-5">Time Picker</h3>
    <app-time-picker></app-time-picker>
    <hr>
    <h3  class="mt-5">Tabs</h3>
    <app-tabs></app-tabs>
    <hr>
    <h3  class="mt-5">Buttons</h3>
    <app-buttons></app-buttons>
    <hr>
    <h3  class="mt-5">Dropdown</h3>
    <app-dropdowns></app-dropdowns>
    <hr>
    <h3  class="mt-5">Modal</h3>
    <app-modal></app-modal>
    <hr>
    <h3  class="mt-5">Pagination</h3>
    <app-pagination></app-pagination>
    <hr>
    <h3  class="mt-5">carousel</h3>
    <app-carousal></app-carousal>
    <hr>
   
</div>
